@page
@model ProjetoFoodTracker.Pages.MyCategory.IndexModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
              <div class="p-3 mb-2 w-50 bg-primary text-white rounded-pill">  @Html.DisplayNameFor(model => model.Category[0].CategoryName)</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
          <div class="p-3 mb-2 w-25 bg-secondary text-white"> @Html.DisplayFor(modelItem => item.CategoryName)</div>   
            </td>
            <td>
                <a class="btn btn-primary" asp-page="Create">Create New</a>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
