@page
@model ProjetoFoodTracker.Pages.MealsModel
@{
}
@if(TempData["Success"] != null)
{
    <div class="alert alert-success">
    <strong>Success! </strong> @TempData["Success"]
</div>
    <br />
}
@if(TempData["Failed"] != null)
{
    <div class="alert alert-danger">
    <strong>Failed! </strong> @TempData["Failed"]
</div>
<br />
}
<form method="post" asp-page-handler="AddFoodToMeal">
    <div class="container">
        <div class="container-fluid p-0">
            <h1 class="h3 mb-3">My Meals</h1>
            <br />
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="card-actions float-right">
                                <div class="card-body">
                                    <table class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Meal</th>
                                                <th>Foods</th>
                                                <th>Categories</th>
                                                <th>Actions</th>
                                                <th>Type Portions</th>
                                                <th>Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var meals in Model.AddDetails)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => meals.Meals.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => meals.Food.FoodName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => meals.Food.Category.CategoryName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => meals.Food.FoodAction.FirstOrDefault(x=>x.FoodId == meals.FoodId).Actions.ActionName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => meals.TypePortions.Type)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => meals.Quantity)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <tr>
                                        <td>
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="meals.Name" class="control-label"> Meals</label>
                                                <select asp-for="meals.MealsId" class="form-control" asp-items="ViewBag.MealName">
                                                    <option selected>Please select</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FoodMealsProp.FoodId" class="control-label"> Foods </label>
                                                <select asp-for="FoodMealsProp.FoodId" class="form-control" asp-items="ViewBag.FoodId"></select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="portionsType.Id" class="control-label"> Type Portion</label>
                                                <select asp-for="portionsType.Id" class="form-control" asp-items="ViewBag.Id"></select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FoodMealsProp.Quantity" class="control-label"> Quantity</label>
                                                <input asp-for="FoodMealsProp.Quantity" class="form-control" />
                                                <span asp-validation-for="FoodMealsProp.Quantity" class="text-danger"></span>
                                            </div>
                                            <br />
                                              <div>
                                                <input type="submit" value="Add Food" class="btn btn-primary" />
                                            </div>
                                            
                                        </td>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>