@page
@model ProjetoFoodTracker.Pages.FavoritesModel
@{
}

<div class="container">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Foods</h1>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                            </div>
                            <div class="col-lg-16 mb-3">
                                <div class="row text-left mb-5">
                                    <div class="col-md-3 mb-3 mb-sm-0">
                                        <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" style="width: 100%;">
                                            <select name="categoryId" class="w-100 form-control" onchange="postCategory()" asp-items="Model.CategoryOptions">
                                                <option value="0">Please select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-lg-right">
                                        <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50" style="width: 100%;">
                                            <select name="actionsId" class="w-100 form-control" asp-items="Model.ActionsOptions">
                                                <option value="0">Please select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-lg-right">
                                        <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50" style="width: 100%;">
                                            <select name="actionsId" class="w-100 form-control" asp-items="Model.ActionsOptions">
                                                <option value="0">Please select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Actions</th>
                                            <th>Add</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var food in Model.FoodActions)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => food.Food.FoodName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => food.Food.Category.CategoryName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => food.Actions.ActionName)
                                                </td>
                                                <td>
                                                    <form method="post" asp-page-handler="AddFavorite" asp-route-ID="@food.Food.Id">
                                                        <button type="submit" class="btn btn-primary m-1">Add to Favorite</button>
                                                    </form>
                                                    <form method="post" asp-route-sessioncount="5" asp-page-handler="RemoveFromFavorites" asp-route-ID="@food.Food.Id">
                                                        <button type="submit" class="btn btn-danger m-1">Remove Favorite</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form method="post" asp-route-sessioncount="10" asp-page-handler="AddBlacklist" asp-route-ID="@food.Food.Id">
                                                        <button type="submit" class="btn btn-danger m-1">Add to Blacklist</button>
                                                    </form>
                                                    <form method="post" asp-route-sessioncount="15" asp-page-handler="RemoveFromBlacklist" asp-route-ID="@food.Food.Id">
                                                        <button type="submit" class="btn btn-primary m-1">Remove Blacklisted</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
